html,body {
	font-family: raleway, AMDRTG;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.av-background-vid {
	position: fixed;
	z-index: -1000;
	min-width: 100%;
	min-height:  100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

#video-bg-elem {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	
	
}

.av-content {
	position: absolute;
	width: 100%;
	margin-right: 0;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(34,34,34,0.56);
	top: 0;
	left: 0;
}

.av-content h1 {
	text-align: center;
	font-size: 65 px;
	text-transform: uppercase;
	letter-spacing: 1em;
	font-weight: bold;
	color: #fff;
	padding-top: 1%;
	margin-bottom: 10px;
	font-family: raleway;
	text-indent: 1em;
	vertical-align: middle;
}

.av-content p {
	text-align: center;
	font-size: 20 px;
	letter-spacing: 1em;
	text-indent: 1em;
	text-transform: uppercase;
	padding-bottom: 0.5%;
	font-weight: bold;
	color: #44BEAA;
	font-family: raleway;
	vertical-align: middle;
}

.av-logo-land {
	padding-top: 5%;
	display: block;
    margin: 0 auto;
	
}

a {
	text-decoration: none;
	
}

